.price-per-hour-by-role-box {
  border: 1px solid #ccd0d4;
  padding: 12px;
  margin: 12px 0;
}

.price-per-hour-by-role-box .price-per-hour-by-role-inner {
  background: #fff;
  padding: 10px 12px;
  border: 1px solid #ccd0d4;
  background: #f9f9f9;
}

.price-per-hour-by-role-box .form-field {
  margin: 6px 0;
}
