$info: #336699;
$primary: #339966;
#month-tabs {
  border: 0;
  background: none;
  &.not-all-completed {
    ul {
      padding: 0;
      border: 0;
      background: none;
      li {
        border: 0;
        background: #dddddd;
        &.ui-state-active {
          &.pending {
            background: $info !important;
          }
          &.completed {
            background: $primary !important;
          }
          padding-bottom: 0 !important;
        }
        a {
          color: black;
          text-decoration: underline;
          &:focus,
          &:active {
            border: 0 !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  ul {
    padding: 0;
    border: 0;
    background: none;
    li {
      border: 0;
      background: #dddddd;
      color: black;
      &.ui-state-active {
        background: $info !important;
        &.pending {
          background: $info !important;
        }
        &.completed {
          background: $primary !important;
        }
        padding-bottom: 0 !important;
      }
      a {
        &:focus,
        &:active {
          border: 0 !important;
          box-shadow: none !important;
        }
      }
    }
  }
}
.ui-tabs-panel {
  &.tab-content {
    background: #ffffff !important;
  }
}
.back-to-bookings,
.back-to-history-bookings,
.view-order-detail-button {
  background: $info !important;
  color: white !important;
  border: 1px solid $info !important;
}
table.table-customers {
  border: 1px solid $info !important;
  border-radius: 5px;
  thead {
    border-color: $info !important;
    tr {
      border-color: $info !important;
      th {
        background: $info !important;
        color: white !important;
      }
    }
  }
  .customer-name {
    font-weight: bold;
    a {
      color: #50575e !important;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $info !important;
      }
    }
  }
}
